## Exercise : Getting ang Knowing Data
- we are going to pull data directly from the internet

In [1]:
# import the necessary libraries
import numpy as np
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
df = pd.read_csv(url, sep='\t')
# see the first 5 ows
df.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
# the number of observation
df.shape
#4622 : observations
#5 : column for each observation

(4622, 5)

In [5]:
# the name of all columns
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [9]:
# the indexes of our data
df.index

RangeIndex(start=0, stop=4622, step=1)

In [36]:
# the most ordred item
a = df.groupby('item_name').sum()
a = a.sort_values(['quantity'], ascending=False)
a.head(1)
print("the most ordred item is {}".format(a.index[0]))

the most ordred item is Chicken Bowl

In [44]:
a.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [45]:
# To get the number of order for "chicken bowl"
df['item_name'].value_counts()[0]

726

In [49]:
df.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [52]:
# the most ordered item in the choice_description column
b = df.groupby(['choice_description']).sum()
b.sort_values(['quantity'],ascending=False)
b.head(1)

                                                    order_id  quantity
choice_description
[Adobo-Marinated and Grilled Chicken, Pinto Bea...       214         1

In [60]:
# how many items were ordered in total = quantity
df['quantity'].sum()

4972

In [63]:
# to check the type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [64]:
df['item_price'].dtype

dtype('O')

In [71]:
# change the type of the item price
dollarizer = lambda x:float(x[1:])
df['item_price'] = df['item_price'].apply(dollarizer)
df.info()
#print(df['item_price'].dtype)

TypeError: 'float' object is not subscriptable

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [75]:
# how much was the revenue
df['price'] = df['quantity'] * df['item_price']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
price                 4622 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 216.8+ KB

In [78]:
print("the revenue was : $ {}".format(df['price'].sum()))

the revenue was : $ 39237.02

In [82]:
# How many order were made 
d = df.groupby(['order_id']).sum()
d.shape[0]

(1834, 3)

In [86]:
len(df['order_id'].value_counts())

1834

In [87]:
df.head(5)

,order_id,quantity,item_name,choice_description,item_price,price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [94]:
# the average revenue amount per order
q = df.groupby('order_id').sum()
q['price'].mean()

21.39423118865867

In [96]:
# how many different items are sold ?
df.groupby(['item_name']).sum().shape[0]

50